<li class="nav-item">
    <a class="nav-link {{ app.request.get('_route') == 'dashboard' ? 'active' : '' }}"
       href="{{ url('dashboard') }}">
        <i class="material-icons">dashboard</i>
        <span>Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ app.request.get('_route') == 'shopping_list_index' ? 'active' : '' }}"
       href="{{ url('shopping_list_index') }}">
        <i class="material-icons">shopping_basket</i>
        <span>Zakupy</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ app.request.get('_route') == 'user_profile' ? 'active' : '' }}"
       href="{{ url('user_profile') }}">
        <i class="material-icons">person</i>
        <span>Profil</span>
    </a>
</li>