{% extends '_template/main.html.twig' %}

{% block header %}Zakupy{% endblock %}
{% block title %}Listy zakupów{% endblock %}

{% block content %}

    <a href="{{ path('shopping_list_new') }}" class="btn btn-success btn-lg mb-4">
        <i class="fa fa-plus-circle"></i> Utwórz listę
    </a>

    <div class="row">
        {% for shopping_list in shopping_lists %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-small">
                    <div class="card-header border-bottom bg-light">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                                <a href="{{ path('shopping_list_edit', {'id': shopping_list.id}) }}">
                                    <h6>{{ shopping_list.name }}</h6>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-4 text-right">
                                {% include('shopping_list/_delete_form.html.twig') %}
                            </div>
                        </div>

                    </div>
                    <div class="card-author-container">
                        <div class="card-author d-flex">
                            <a href="{{ path('shopping_list_edit', {'id': shopping_list.id}) }}"
                               class="card-post__author-avatar card-post__author-avatar--small"
                               style="background-image: url('/{{ getAvatar(shopping_list.user.id) }}');">Utworzone
                                przez {{ app.user.username }}</a>
                        </div>
                    </div>
                    <div class="card-body" style="min-height: 128px;">
                        <div class="text-muted mb-2 text-right">{{ shopping_list.createdAt.format('d F Y') }}</div>

                        {% for item in shopping_list.shoppingItems|slice(0, 3) %}
                            <div class="row mb-1">
                                <div class="col-2">
                                    {% if item.picker != null %}
                                        <i class="fa fa-check"></i>
                                    {% else %}
                                        <i class="fa fa-dot-circle"></i>
                                    {% endif %}
                                </div>
                                <div class="col-10">
                                    {{ item.description }}
                                </div>
                            </div>
                        {% else %}
                            <div class="row text-center">
                                <div class="col-12">
                                    <div class="mt-2">Pusta lista</div>
                                    <div class="mt-2">
                                        <button class="btn btn-sm btn-success">
                                            <i class="fa fa-plus"></i> Dodaj element</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div>no records found</div>
        {% endfor %}

    </div>
{% endblock %}
